html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



#cabecera {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20%;
    margin-left: 38%;
    margin-right: auto;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.menu li {
    margin-right: 50px;
    font-family: Raleway;
    font-size: 30px;

}

.menu li a {
    text-decoration: none;
    color: #ffffff;
}

.menu li a:hover {
    color: #37FE6E;
    transition: .5s;

}

@font-face {
    font-family: Raleway;
    src: url(Raleway-Black.ttf);
}

@font-face {
    font-family: DRAGON;
    src: url(DragonHunter.otf);
}

#Fondo {
    background-image: url("FONDO2.jpg");
    background-size: cover;
    height: 50%;
    background-position: center;
    padding-bottom: 800px;
}


#parrafo p {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    margin-left: 300px;
    margin-right: 300px;

}

.titulo {

    width: 200px;
    color: #37FE6E;
    font-size: 40px;
    font-family: DRAGON;
    padding-top: 30px;
    margin-left: 25px;
    letter-spacing: 0.1em;
}

* {
    text-decoration: none;
}