html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


@font-face {
  font-family: Raleway;
  src: url(Raleway-Black.ttf);
}

@font-face {
  font-family: DRAGON;
  src: url(DragonHunter.otf);
}

.fade-in {
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  padding-top: 15%;
  padding-bottom: 4%;
  font-family: DRAGON;
  opacity: 0;
  /* Establece la opacidad inicial en 0 */
  animation: fadeInAnimation 2s ease-in forwards;
  /* Duración, aceleración y retención de la animación */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    /* Comienza con opacidad 0 */
  }

  100% {
    opacity: 1;
    /* Termina con opacidad 1 */
  }
}

.row {
  --bs-gutter-x: 0;
}


#cabecera {
  background-color: black;

}

.menu_item a {
  text-decoration: none;
  color: #ffffff;
  font-family: Raleway;
}

.menu_item a:hover {
  color: #37FE6E;
  transition: .5s;
}



@media (min-width: 0px) and (max-width: 415px) {
  .logo {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu_item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 25px;
  }

  #biblio3 {
    margin-top: -5%;
  }

  #FechaYHora {
    margin-left: 17%;
  }

  .fade-in {
    font-size: 40px;
  }



}

@media (min-width: 416px) and (max-width: 600px) {
  .logo {
    width: 32%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu_item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 20px;
  }

  .fade-in {
    font-size: 45px;
  }

  #FechaYHora {
    margin-left: 17%;
  }

  #Cuerpo {
    padding: 50px;
  }

}

@media (min-width: 601px) and (max-width: 799px) {
  .logo {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu_item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 24px;
  }

  .fade-in,
  .biblio {
    font-size: 48px;
  }


  #FechaYHora {
    margin-left: 17%;
  }

  #Cuerpo {
    padding: 50px;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .logo {
    width: 37%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu_item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 26px;
  }

  .fade-in {
    font-size: 45px;
  }


  #FechaYHora {
    margin-left: 17%;
  }

  #Cuerpo {
    padding: 50px;
  }



}

@media (min-width: 1001px) and (max-width: 3000px) {
  .logo {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu_item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 27px;
  }

  .fade-in {
    font-size: 100px;
  }

  .biblio {
    font-size: 39px;
    margin-left: 5%;

  }

  #biblio3 {
    margin-top: 13%;
  }

  #FechaYHora {
    margin-left: 40%;
  }

  .boton {
    margin-top: 51px;
  }

  #Cuerpo {
    padding: 50px;
  }





}



.puntaje {
  justify-content: left;
}




.bienvenida {
  background-image: url("IMAGENBODY2.png");
  background-size: cover;
  height: 1px;
  background-position: center;
  padding-bottom: 1150px;

}

#Parrafo {
  font-family: Raleway;
  color: #ffffff;
  margin-right: 100px;
  max-width: 1150px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  border-color: #37FE6E;
  border: 2px solid #37FE6E;
  background-color: #000000;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  animation: fadeInAnimation 2s ease-in forwards;

}

#Cuerpo {
  background-color: #000000;
  clear: both;

}

.imagenes {
  margin-left: 50px;
}

h2 {
  font-family: Raleway;
  font-size: 30px;
  color: white;
  margin-bottom: 40px;
}

.imagenes {
  transition: 1s;
}

.imagenes:hover {
  transition: .5s;
  box-shadow: 0 0 5px rgb(255, 255, 255),
    0 0 10px black;
  height: 415px;
  width: 315px;
}


#Cuerpo2 {
  background-image: url("HOJA\ DE\ PREGUNTAS.png");
  background-size: cover;
  height: 1px;
  background-position: center;
  padding-bottom: 650px;
  clear: both;
}

.final {
  background-color: #000000;

}

#Copyright {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;

}

.biblio {
  color: rgb(255, 0, 0);
  font-family: DRAGON;

}

#biblio3 {
  border-radius: 100px;
  background-color: black;
  border: 2px solid #37FE6E;

  color: white;
  font-family: DRAGON;
  font-size: 25px;
  padding: 15px;
  cursor: pointer;
  transition: 1s;
}

#biblio3:hover {
  transition: 1s;
  text-shadow: 0 0 5px white,
    0 0 10px white;
  box-shadow: 0 0 5px black,
    0 0 10px black;
}

#textoBiblio {
  color: rgb(0, 0, 0);
  font-family: Raleway;
  font-size: 30px;
}

.boton {
  margin-top: 51px;
  margin-bottom: -500px;
  margin-left: 100px;

}

#img {
  position: absolute;
  width: 100px;
  right: 100px;


}

#FechaYHora {
  color: white;
}